<li>
	{{burger_name}}

	<button class="devouredBtns" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}Devoure IT!{{else}}Return IT!{{/if}}
	</button>

	<button class="deleteBurger" data-id="{{this.id}}">Delete!</button>
</li>